@import "../../../../theme";

:host {
  display: block;
  height: 100%;
  overflow: auto;
  padding: $scale-size;
}

.news-block {

  & + .news-block {
    margin-top: $scale-size * 2;
  }

  .news-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: $scale-size $scale-size * 2;
    background: #272a38;
    box-sizing: border-box;
    margin-bottom: $scale-size;

    border-left: $scale-size / 2 solid #0874a4;
    opacity: .6;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    &.active {
      opacity: 1;
    }

    .code {
      font-size: $font-size-small;
      color: $color-blue;
    }
  }

}
