<!--<h2>Локализация причин прогнозных отклонений паспортизации на технологической схеме и во времени</h2>-->
<app-header title="Локализация причин прогнозных отклонений паспортизации на технологической схеме и во времени">
  <div class="toolbar-legend">
    <div class="item">
      <i class="grey"></i>
      <span>Смежный периметр ОНПЗ</span>
    </div>
    <div class="item">
      <i class="violet"></i>
      <span>Коммерческий простой</span>
    </div>
    <div class="item">
      <i class="blue"></i>
      <span>Причина</span>
    </div>
    <div class="item">
      <i class="blue2"></i>
      <span>Следствие</span>
    </div>
  </div>
</app-header>
<!--<div class="scheme">-->
<div class="wrapper">
  <div class="svg-scheme" ngClass="{active: isCertification()}">
    <app-svg-icon url="/assets/img/main-scheme.svg"></app-svg-icon>
  </div>
</div>
<!--<div class="svg-scheme" ngClass="{active: isEnergy()}">-->
<!--<app-svg-icon url="/assets/img/energy-scheme.svg"></app-svg-icon>-->
<!--</div>-->
<!--<div class="svg-scheme" ngClass="{active: isQuality()}">-->
<!--<app-svg-icon url="/assets/img/quality-scheme.svg"></app-svg-icon>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="timeline-block">-->
<!--<a class="choose-period">-->
<!--<div class="icon">-->
<!--<app-svg-icon url="/assets/icons/calendar-icon.svg"></app-svg-icon>-->
<!--</div>-->
<!--<div class="content">-->
<!--<div class="text">Выбранный период</div>-->
<!--<div class="period">{{ startDate | datex: 'DD.MM.YYYY' }} - {{ endDate | datex: 'DD.MM.YYYY' }}</div>-->
<!--</div>-->
<!--</a>-->
<!--<div class="chart">-->
<!--<app-omsk-scheme-timeline [current]="currentDate"></app-omsk-scheme-timeline>-->
<!--</div>-->
<!--</div>-->
